.img-responsive-logo {
  margin: 0 auto;
}

.nav-socials {
  font-size: 1.8em;
}
.main {
  flex: 1 0 auto;
}
/* MODELOS */
.modelos {
  background-color: #d8d8d8;
}
/* Landing */
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.landing-row {
  background-color: rgba(0, 0, 0, 0.9);
}
.landing-row h3 {
  color: #ed1b2f;
  font-size: 2em;
}
.landing-row p {
  color: #fff;
  font-size: 1.4em;
  font-family: "Times New Roman", Times, serif;
}
.hr-landing {
  border-color: seashell;
}
/* FOOTER */
.bg-honda-footer {
  background-color: #e6e6e6;
  flex-shrink: none;
}
.hr-honda {
  border-color: #e40421;
}
.footer-socials a i {
  font-size: 2.2em;
}
.contactanos-honda {
  background-color: #e6e6e6;
  color: #ed5565;
}
.fa-whatsapp {
  color: #1BD641;
}
.fa-facebook-square {
  color: #067AEB;
}
.fa-instagram {
  color: #C5355E;
}
